@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'locomotive-scroll/dist/locomotive-scroll.css'; */




::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d7e2da; 
    /* border-radius: 20px; */
    /* -webkit-border-ra/dius: 20px; */
    /* -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #59685a; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  